@CHARSET "UTF-8";

@media print,screen and (max-width: 1250px) {
   /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
	.content_side{
	display: none;
	}
}
@media print,screen and (max-width: 1000px) {
   /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
	.community_content aside{
	display: none !important;}
}
.container>h2{
	font-size:2em;
	margin: 0;
}
.container>p{
	margin: 0;
}
.container{
	width:100%;
	max-width: 1180px;
	margin: 12px auto;
}
.community_header{
	background-color: #333b3d;
    color: white;
    padding: 3px;
}



.community_content{
	width:100%;
	max-width:1180px;
	margin: 0 auto;
	min-height: 500px;
	display: flex;
}
.community_content aside{
	float: left;
    width: 17%;
    min-height: 700px;
    display: flex;
    flex: 2;
}
.side_container a{
	color: black;
}
.side_container li{
	padding: 6px 0px;
}
.side_container{
	box-sizing: border-box;
    padding: 8px;
}
.small_tag{
	font-size: 10px;
    color: #86898c;
}
.columns{
	float: left;
    display: flex;
    flex: 8;
    box-sizing: border-box;
}
.main_content{
	float: left;
    width: 75%;
    box-sizing: border-box;
    padding: 15px 0px;
    flex:1;
}
.Q{
	font-size: 28px;
    font-weight: 600;
	color: #00c471;
}
.content a{
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}
.content_side{
	width: 25%;
    float: left;
    box-sizing: border-box;
    min-height: 500px;
   
}
.right_item{
	margin:5px 0px;
}
.comment_link>input{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
}
.selector{
	float:left;
	margin-left:10px;
}
.main_controler{
	position: relative;
    width: 100%;
    float: left;
    display: inline-block;
}

.post_title{
	font-size:25px;
	font-weight: bold;
}
.controle_btn{
	box-sizing: border-box;
    height: 30px;
	
}
.search{
	box-sizing: border-box;
    height: 30px;
    float: right;
    position: relative;
    width: 30%;
}
.search .input{
	width: 100%;
    max-width: 300px;
    float: right;
}
.fa-search{
    position: absolute;
    right: 7px;
    top: 7px;
 }

.Q-sel{
	border-radius: 5px;
    padding: calc(.375em - 1px) calc(.625em - 1px);
}

body a:ACTIVE{
	color:black
}

.main_content>.content{
  float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.main_content .quest_list_item{
	border-bottom: 1px solid #ece4e4;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
    float: left;
    display: flex;
}
.quest_list_item .fa-quora{
	font-size:30px;
	color: green;
}
.quest_list_item .item_content{
	float: left;
    flex: 1;
}
.quest_list_item .item_right{
	float: left;
    width: 120px;
    text-align: center;
}
.post_metas{
	font-size: 12px;
}
.best_kingKnowledge{
	text-align: center;
	}
.cooment_goods{
color: red;	
}
