@CHARSET "UTF-8";

@media screen and (max-width: 1775px) {

	/* 화면사이즈 줄면   */
	.boxx2 {
	    min-width: 600px;
	}

}




body {margin: 0; width: 100%;}

.Bcontainer {max-width: 1000px;
    flex-grow: 1;
    position: relative;
    width: auto;
}

.image {width: 130px; height: auto;}
h3 {padding-bottom: 10px;
    margin-bottom: 10px;
}

#alll{
    margin: 3% auto 30% 0;
height: auto;
    min-height: 800px;
font-family: 'NotoSansCJKkr-Light';}

.boxx{float:left; 
border-bottom:1px solid #ccc; 
width: 650px; height: auto;  
padding: 10px 10px 20px 0;

}

.boxx2{display: inline-block;
width:320px; height:auto; 
margin-left: 30px;

}

a {text-decoration: none;}

.amount {text-align: center; width: 100px; float: left; 
 padding-top: 10px; }
 
 .menu {margin-left: 10px; padding-top: 5px;}
 
.column {float: left;  }
.content {width:400px; padding: 5px 20px 5px 30px; 
word-wrap: break-word;}

.boxh3 {float: left; padding-left: 10px; width: 70%;}


.Blevel-left {
    align-items: center;
    justify-content: flex-start;}
    
.Blevel-left, .Blevel-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;}
.Blevel-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;}
.breadcrumb {
    font-size: 1rem;
    white-space: nowrap;}
.breadcrumb li {
    align-items: center;
    display: flex;
}
.BH2:HOVER {
	color: #363636 !important;}
.BH3:HOVER {
	color: #363636 !important;}
	
.breadcrumb li.Bis-active a {
    color: #363636;
    cursor: default;
    pointer-events: none;}
.breadcrumb li:first-child a {
    padding-left: 0;}
.breadcrumb a {
    align-items: center;
    color: #1dc078;
    display: flex;
    justify-content: center;
    padding: 0 .75em;}



/* 주문금액합계 */

.boxh32{width:100%; padding-left: 10px;}
.si_columns {
  float: left;
  width: 100%;

}

.price {
  list-style-type: none;
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}

/* .price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
 */
.price .header {
  color: black;
  font-size: 18px;
}

.price>li {
  padding: 15px 15px 0 15px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .si_columns {
    width: 100%;
    
  }
}
.si_btn {
  background-color: #00c471;
  border: none;
  color: white;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  
  }

.si_btn:hover {opacity: 0.6} 

/* 위시리스트 */
 .d_btn {
  background-color: #fff;
  border: none;
  color: #262523;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;}
  
.d_btn:hover {opacity: 1}
 .d_btn:HOVER>.fa-heart {color: red !important;} 

		
/* 장바구니 툴팁 */
.Btooltip,.Wtooltip {
  position: relative;
  display: inline-block;
  
}

.Btooltip:HOVER {color: red;}

.Btooltip .Btooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #F25E5E;
  color: white;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  font-size: 10px;
}

.Btooltip .Btooltiptext::after {
  content: "";
  position: absolute;
  top: 48%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #F25E5E transparent transparent;
}
.Btooltip:hover .Btooltiptext {
  visibility: visible; 
}
 .d_btn:HOVER>.fa-cart-plus {color: red !important;} 
/* 위시리스트 툴팁 */

.Wtooltip:HOVER {color: red;}

.Wtooltip .Wtooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #F25E5E;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 10px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.Wtooltip:hover .Wtooltiptext {
  visibility: visible;
}


/* The Modal (background) */
.modal,.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */

.modal,.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content,.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
}

/* The Close Button */
.close,.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus  {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.myCheckli2 {font-size: 5px;}

/* Set a style for all buttons */
.Vbtn {
  border: none;
  background-color: inherit;
  padding:0;
  font-size: 8px;
  cursor: pointer;
  display: inline-block;
}

.Vbtn:hover {color: red;}


.default {color: black;}



/* Add padding and center-align text to the container */
.Vcontainer {
  padding: 16px;
  width: 100%;
  max-height: 720px;
  height: 95%;
  overflow: auto;
}
.Vcontainer li {
list-style-type: inherit !important;}


/* The Modal (background) */
.Vmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.Vmodal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  text-align: left;
  border-radius: 7px;
  
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #ccc;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.Vclose {
  position: absolute;
  right: 27%;
  font-size: 40px;
  font-weight: bold;
  color: #ccc;
}

.Vclose:hover,
.Vclose:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.Vclearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}

/* input 스타일 */
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
}



/* 위시리스트 모달 */
.Wmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /*Full width */
  height: 100%;  /*Full height */
  overflow: auto;  Enable /*scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.Wmodal-title{
	font-weight: 700;
	font-size: 1.125rem;;
}	
.Wmodal-head{border-bottom: 1px solid #dbdbdb;
padding-bottom: 1rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;}

.Wcolumn{padding: 20px;}
/* Modal Content */
.Wmodal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;;
}

/* The Close Button */
.Wclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-weight: 400;
}

.Wclose:hover,
.Wclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* Float four columns side by side */
/* .Wcolumn {
  float: left;
  width: 90%;
  padding: 0 10px;
 
} */

/* Remove extra left and right margins, due to padding */
.Wrow {margin: 0 -5px;}

/* Clear floats after the columns */
.Wrow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .Wcolumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.Wcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;  
  background-color: #f1f1f1;
  max-width: 920px;
  max-height: 720px;
  margin-bottom: 10px;   
}
.Wibox{
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 0;
    display: inline-block;    
}
.Wbox{float: left;}
.Wmodal-content{max-width: 920px;
  max-height: 720px;
  height: 95%;
  overflow: auto;}
.Wcontent{
	display: inline-block;
    margin-left: 30px;}
    
.Wamount {text-align: center; width: 100px; margin-left: auto;
 padding-top: 10px; }  
 
 
 
 
 
 
 
 
 
 
.more_coupons {
    position: absolute;
    right: 1rem;
    background: none;
    border: none;
    bottom: 1em;
 }

.bcolumn {
	padding: .5rem;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
    width: 60%;
    min-width: 640px;
}
.bcolumn .bbox.coupon_item_list {
    height: 10rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    transition: height .2s;
}
 
.bcolumn .bbox {
    padding: 0;
    border-radius: .2rem;
} 
 .bbox {
    background-color: #fff;
    border-radius: 4px;
    color: #333;
}
.bbox {
    border-radius: 1px;
}

.bbox {
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(0,10,18,.1), 0 0 0 1px rgba(0,10,18,.1);
    color: #454545;
    display: block;
    padding: 1.25rem;
}
.bcolumn .bbox.coupon_item_list .coupon_item_list_header {
    position: relative;
    padding: .75rem 1rem;
    font-weight: 700;
    border-bottom: 1px solid #cfcfcf;
}
.bcolumns, .bcolumns:last-child {
    margin: 0;
} 
 .bcolumns.is-multiline {
    flex-wrap: wrap;
}
 .coupon_item_container {
    position: relative;
/*     overflow: hidden; */
    min-width: 140px;
}
.coupon_item_container .coupon_item_vertical_2 {
    position: relative;
    margin: auto;
    padding: .25rem 0;
    height: 9rem;
    border: 2px solid #dedede;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    min-width: 140px;
}
 .coupon_item_container .coupon_item_vertical_2 .discount_price {
    width: 100%;
    padding: 0 0 .2rem;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2ec276;
    text-align: center;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.bcolumns.is-mobile>.bcolumn.is-3 {
    flex: none;
    width: 25%;
    min-width: 140px;
}
.coupon_item_container .coupon_item_vertical_2 .coupon_info_container {
    border-top: 2px dashed #dedede;
    padding: .25rem;
}
.coupon_item_container .coupon_item_vertical_2 .coupon_info_container .meta .order_metas {
    margin-top: .25rem;
}

.coupon_item_container .coupon_item_vertical_2 .coupon_info_container .meta .order_metas li {
    color: #676767;
    font-size: 13px;
}

.coupon_item_container .coupon_item_vertical_2 .coupon_info_container .meta .order_metas li+li {
    margin-top: .25rem;
}
 .coupon_item_container .coupon_item_vertical_2 .coupon_info_container .meta .order_metas li {
    color: #676767;
    font-size:  .9em;
}
.coupon_item_container .coupon_item_vertical_2 .coupon_info_container .meta .order_metas li span {
    color: #ff7867;
}

.coupon_item_container .coupon_item_vertical_2 .applicable_courses {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 0 .5rem;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.is-hidden {
    display: none!important;
}













 
 
 
 
   