@CHARSET "UTF-8";
/* 보드 템플릿 */
@media print,screen and (max-width: 1250px) {
   /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
	.content_side{
	display: none;
	}
}
@media print,screen and (max-width: 1000px) {
   /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
	.community_content aside{
	display: none !important;}
}
.container>h2{
	font-size:2em;
	margin: 0;
}
.container>p{
	margin: 0;
}
.container{
	width:100%;
	max-width: 1180px;
	margin: 12px auto;
}
.community_header{
	background-color: #333b3d;
    color: white;
    padding: 3px;
}



.community_content{
	width:100%;
	max-width:1180px;
	margin: 0 auto;
	min-height: 500px;
	display: flex;
}
.community_content aside{
	float: left;
    width: 17%;
    min-height: 700px;
    display: flex;
    flex: 2;
}

.side_container a{
	color: black;
}
.side_container li{
	padding: 6px 0px;
}
.side_container{
	box-sizing: border-box;
    padding: 8px;
}
.small_tag{
	font-size: 10px;
    color: #86898c;
}
/* 보드 템플릿  끝*/

.columns{
	float: left;
    display: flex;
    flex: 8;
    box-sizing: border-box;
}
.main_content{
	float: left;
    width: 75%;
    box-sizing: border-box;
    padding: 15px 0px;
    flex:1;
}
.content_side{
	width: 25%;
    float: left;
    box-sizing: border-box;
    min-height: 500px;
   
}
/* 별만들기  */
.rating_star{
	position: relative;
    width: 110px;
    display: inline-block;
    font-size: 0em;
}
.star_solid{
	display: inline;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}
.rating_star svg, .rating_star i {
	color: #fdcc11;
    width: 1rem;
    height: 1rem;
    font-size: 20px;
    display: inline;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* 별 만들기 */


.review_right,.left{
/* 	border: 1px red solid; */
	display: inline-block;
}
.review_list_item{
/* 	border: 1px blue solid; */
	border-bottom: 1px #ccc solid;
	width: 650px;
	margin-bottom: 1em;
}

.img_item>img{
	width: 110px;/* 65% */
	height: 70px;
}

.left{
	width: 500px;
}
.post_metas>span{
	margin-right: 1em;
	font-size: 12px;
}

.content_item{
	font-size: 1.5em;
}