@CHARSET "UTF-8";

@media screen and (max-width: 1085px) {

	/* 모바일   */
	.profile_aside{
	display: none !important;
	}
	
}

@media screen and (max-width: 1360px) {
	

	.profile_aside>ul{
	padding: 0 0 0 1em;
	}
	.ws_wrap{
	width: 100% !important;
	}
	#alll{
	margin: 4em 1em !important;
	}
}

. ws_wrap *{
	margin:0 auto;
	box-sizing: border-box;
}


body {margin: 0;
min-height: 1039px;
/* border: 1px red solid; */
}
.image {width: 130px; height: auto;}
/* h3 {border-bottom:2px solid pink; 
padding-bottom: 10px; min-width: 550px;
margin-bottom: 10px;
} */

.main_container {
    display: block !important;
    text-align: left;
}
.main_container ul{ padding: 0;}

#lec{
	display: inline-block;
	margin-left: 1em !important;
}

.ws_wrap{
/* 	border:1px solid; */
	margin: 0 auto;
	width: 70%;
	min-width: 600px;
	display: flex;
	
}

.profile_aside{
	display: inline-block;
    width: 15%;
    min-width:230px;
    height: 900px;
    padding: 3em 0;
    vertical-align: top;
/*     border: 1px solid; */
	
}

aside.profile_aside .menu-list .is-active>a {
    background: none;
    color: #1dc078;
    font-weight: 700;
}

.menu-list a:hover {
    background-color: #fff;
    color: #363636;
}

.menu-list a {
    border-radius: 2px;
    color: #454545;
    display: block;
    padding: .5em .75em;
    font-size:16px;
}

ul, li {
    list-style: none;
}

user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul {
    list-style-type: disc;
}

#alll{
display:inline-block;
margin: 4em 5%; 
min-width: 550; 
min-height: 500px;
/* border: 1px blue solid; */
}

.boxx{
display:block;
border-bottom:1px solid pink; 
min-width: 550px; height: auto;  
padding: 10px 10px 20px 0;
/* border: 1px green solid; */
}

.boxx2{display: inline-block;
width:320px; height:auto; 
margin-left: 30px;
/* border: 1px green solid; */
}

a {text-decoration: none;}

 
 .clearfix{
 display: block;
 }
 .menu {display:inline-block;
 margin-left: 10px; padding-top: 5px;}
 
.column {display: inline-block; }
.content {
/* border:1px solid; */
margin:0;
width:50%;
line-height:1.8;
padding: 5px 20px 5px 30px; 
word-wrap: break-word;}

.amount {
/* 	border:1px red solid; */
display:inline-block;
text-align: center; 
width: 100px; 
 padding-top: 10px; }


.boxh3 {
display:block;
padding-left: 10px;}


@media only screen and (max-width: 600px) {
  .si_columns {
    width: 100%;
    
  }
}
.si_btn {
  background-color: #F25E5E;
  border: none;
  color: white;
  width: 100%;
  text-align: center;
  text-decoration: none;
/*   font-size: 15px; */
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
  
  }

.si_btn:hover {opacity: 0.6} 

/* 툴팁¸ */
 .d_btn {
  background-color: #F28379;
  border: none;
  color: #262523;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;}
  
.d_btn:hover {opacity: 1}
 .d_btn:HOVER>.fa-heart {color: red !important;} 
		

/* í´í */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #F25E5E;
  color: white;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  font-size: 10px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 48%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #F25E5E transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Set a style for all buttons */
.btn {
  border: none;
  background-color: inherit;
  padding:0;
  font-size: 8px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {color: red;}


.default {color: black;}



/* Add padding and center-align text to the container */
.Vcontainer {
  padding: 16px;
  
}


/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


/* Clear floats */
.Vclearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}

html, body {
    font-family: Verdana,sans-serif;
    font-size: 16px;
/*     line-height: 1.5; */
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#lec {
    width: 75% !important;
    margin: 60px auto;
    text-align: left !important;
}

.card{
	height: 310px !important;
	width: 220px !important;
	font-size: 11px !important;
}
.card img{
	width: 220px !important;
	height: 145px !important;
}

section * {
    margin: 0 auto;
    box-sizing: border-box;
}

/* .price { */
/*     margin-left: 65% !important; */
/* } */


.breadcrumb li{
    float: left;
    margin-right: 1em;
}

.main_container h3{
	clear: both;
}