@CHARSET "UTF-8";

a {cursor: pointer;}


/* 
.Wcontainer {
  padding: 16px;
  text-align: center;
}

The Modal (background)
.Wmodal {
  display: none; Hidden by default
  position: fixed; Stay in place
  z-index: 1; Sit on top
  left: 0;
  top: 0;
  width: 100%; Full width
  height: 100%; Full height
  overflow: auto; Enable scroll if needed
  background-color: #474e5d;
  padding-top: 50px;
  
}

Modal Content/Box
.Wmodal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 5% from the top, 15% from the bottom and centered
  border: 1px solid #888;
  width: 80%; Could be more or less, depending on screen size
  
}

Style the horizontal ruler
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
The Modal Close Button (x)
.Wclose {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.Wclose:hover,
.Wclose:focus {
  color: #f44336;
  cursor: pointer;
} */

.Wmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.Wmodal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.Wclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.Wclose:hover,
.Wclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
















